html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.arm{
    width: 10px;
    height: 50px;
    position: relative;
    left: 120px;
    top: 10px;
    background-color: black
}

body{
    background-color: #212121;
}

.activeLED{
    background-color: red !Important;
    opacity: 1;
    box-shadow: 0px 0px 20px red;
}

.activeSwitch{
    top: 15px !Important;
    box-shadow: 8px -8px 5px black !Important;
}

.box{
    width: 250px;
    height: 400px;
    background-color: black;
    margin: Calc(50vh - 200px) Calc(50vw - 125px);
    box-shadow: 5px 5px 0px black;
}

.divider{
    background-color: black;
    height: 1px;
    opacity: .4;
    
}

.title{
    padding: 40px 20px;
    text-align: center;
    color: white;
}

.toggle{
    padding: 2px 110px;
}

.toggle_circle{
    background-color: black;
    width: 30px;
    height: 30px;
    
    opacity: .6;
    border-radius: 50%;
}

.toggle_switch{
    background-color: silver;
    width: 20px;
    height: 20px;
    margin: 5px 5px;
    position: relative;
    top: -5px;
    border-radius: 50%;
    box-shadow: 8px 8px 5px black;
}

.topHalf{
    height: 200px;
    background-color: saddlebrown;
    opacity: 1;
}

.label{
    text-align: center;
    color: black;
    padding: 2px 0px;
}

.led{
    position: relative;
    top: 0px;
    left: 120px;
    background-color: darkred;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

p{
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 100;
    opacity: .8
}

.bottomHalf{
    height: 198px;
}

.bottomLid{
    position: relative;
    top: -50px;
    height: 200px;
    background-color: saddlebrown;
    opacity: 1;
}

.armAnimationClass{
    animation: armAnimation;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes armAnimation {
    0%{
        top: 10px;
    }
    50%{
        top: -15px;
    }
    100%{
        top: 10px;
    }
}

.toggleAnimation1{
    animation: toggleAnimation;
    animation-iteration-count: 1;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.toggleAnimation2{
    animation: toggleAnimation;
    animation-iteration-count: 1;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

@keyframes toggleAnimation{
    0%{
        top: -5px;
        box-shadow: 8px 8px 5px black;
    }
    100%{
        top: 15px;
        box-shadow: 8px -8px 5px black;
    }
    
}